* {
  box-sizing: border-box;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

#settings {
  position: absolute;
  /* right: 10vw; */
  /* display: none; */
  z-index: 999;
  border: 0.3vw solid gray;
  border-radius: 2vw;
  max-width: 40vw;
  margin: auto;
  max-height: 30vw;
  overflow-y: scroll;
  display: flex;
  /* def flex */
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 2vw;
  -moz-border-radius: 2vw;
  -ms-border-radius: 2vw;
  -o-border-radius: 2vw;
}

#btn-setting button {
  background-color: #222222;
  border: 0.15vw solid white
}

#btn-setting {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

#settings #hr {
  color: grey;
}

#desc {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  background: #141E30;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100%;
}

a.icon {
  margin: 0.5%;
  width: auto;
  /* Adjust the width based on the height */
  height: 50px;
  /* Set a fixed height, adjust to match your header */
  max-width: 50px;
  /* Ensures the icon doesn't get too large */
  object-fit: contain;
  /* Ensures the image scales properly */
}

img.icon {
  margin: 0;
  padding: 0;
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-right: 50px;
  margin: 0;
  background-color: #0c1320;
  position: relative;
  z-index: 1000000000;
}

body.scrolled header {
  position: fixed;
  top: 0;
  /* Position at the top */
  left: 0;
  /* Ensure it's flush with the left edge */
  right: 0;
  /* Ensure it spans the full width */
  width: 100%;
  /* Ensure it spans the full width */
  /* Optional styling to create some shadow or separation */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Add some space to the top of the body content when the header is fixed */
body.scrolled .main-content {
  margin-top: 60px;
  /* Adjust this value to match the header height */
}

header a:hover {
  color: rgb(231, 255, 95);
  transform: scale(1.05);
  transition: .2s;
}

.linkmenu {
  text-decoration: none;
}


#plus-button {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  height: 34px;
  width: 35px;
  /* Adjust height as needed */
  color: black;
  padding: 0 10px;
  font-size: 20px;
  border: none;
  transition: color 0.3s;
}

#plus-button:hover {
  color: rgb(178, 201, 52);
  /* Change color on hover */
}

.icon {
  border-radius: 40%;
  size: auto;
}

header a {
  padding: 0;
  margin: 0;
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  text-align: center;
}

.game-container {
  display: flex;
  justify-content: center;
}

.game-select {
  display: flex;
  justify-content: center;
  gap: 3%;
  flex-wrap: wrap;
  max-width: 100%;
}

.game-button {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(3px);
    /* Apply blur to the background */
    -webkit-backdrop-filter: blur(3px);
    /* Support for Safari */
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-bottom: 3%;
  padding: 6px;
  transition-duration: 0.3s;
  transform: translate(0px, 0px);
}

.game-button img {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: 200px;
  height: 150px;
  object-fit: cover;
}

.game-button a {
  text-decoration: none;
}

.game-button:hover {
  transition-duration: 0.3s;
  transform: translate(0px, -10px);
}

.cursor-pointer {
  cursor: pointer;
}

.hiddenUpload {
  margin: auto;
  text-align: center;

}

.uploadResult {
  margin: auto;
  text-align: center;
}

.saveContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  height: 30px;
  /* Adjust height as needed */
  color: black;
  padding: 0 10px;
  font-size: 16px;
  border: 1px solid #ccc;
}

.dizzy-embed-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background-color: transparent;
  padding: 10px;
}

.embed-container {
  flex: 1;
  overflow: visible;
}

.embed-container iframe {
  width: 100%;
  height: 1113px;
  border: none;
}

.parent-container {
  display: flex;
  justify-content: center;
  /* Center horizontally */
  align-items: flex-start;
  /* Align items to the top */
  height: 100vh;
  /* Full viewport height */
  padding-bottom: 40px;
  /* Add padding to the bottom, adjust as needed */
  padding-top: 40px;
  box-sizing: border-box;
  /* Include padding in the container's height */
}

.widget-container {
  width: 100%;
  /* Full width of the viewport */
  max-width: 100%;
  /* Optional: limit maximum width */
  height: 100%;
  /* Adjust height to make it bigger vertically */
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
  /* White background for the container */
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.nav-button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #7a7a7a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav-button:hover {
  background-color: #a1a1a1;
}